@import "../../styles/base";

.country-card {
  box-shadow: $boxShadow;
  width: 350px;

  &__wrapper {
    padding: 5rem;
    img {
      width: 300px;
      height: 150px;
    }
  }
  &__name {
    margin-top: 5rem;
    color: $black;
  }
  &__region {
    margin-top: 2.5rem;
    color: $blackLight;
    margin-bottom: 6.5rem;
  }
  &__action {
    width: 100%;
  }
}
